#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.fab{
    margin-top: 10px;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    margin-bottom: 22px;
    text-align: center;
}

.fabText{
    color: #666666;
    font-family: Roboto,Arial,sans-serif;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.fabIcon{
    margin: 2%;
    font-size: 110%;
    /* margin-left: 1%; */
}

.custom-select{
    border-radius: 5px !important;
}

.custom-select:focus{
    border-width: 1.5px !important;
    outline: transparent !important;
    border-color:#416C94 !important;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075), 0 0 5px #416C94 !important
}

.modal-content{
    border-radius: 5px !important;
}

.cBtn{
    background: #416C94 !important;
}